extends ../main

block title
	| Мобильные телефоны

block content
	article.content-wrapper
		.container
			.main__title Мобильные телефоны
			.main__content
				include ../_common/_sidebar

				.content
					.sort
					.products

			.attention
				.main__title Важная информация
				.attention__text
					p lorem
					p lorem
					p lorem
					p lorem
					p lorem
					p lorem